This is your assignment on conditional statement and looping

**Problem-1**<br>
Write a small program to check a number is divisible by 7 or not

In [ ]:
n=int(input("Enter a number:"))
if n%7==0:
  print("Number is divisible by 7")
else:
    print("Not didvisible by 7")

Enter a number:35
Number is divisible by 7

**Problem-2**<br>
If a number is divisible by either 5 or 7, then we will call it a 'five-or-seven' number.<br> 
Write down a program to check if a number is 'five-or-seven' number or not.

In [ ]:
n=int(input("Enter a number:"))
if (n%7==0) and (n%5==0):
  print("Number is divisible ")
elif(n%7==0):
    print(" divisible by only 7 ")
elif(n%5==0):
  print("divisible by only 5")
else:
  print("None")

Enter a number:42
 divisible by only 7

**Problem-3**<br>
Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria:<br>  
Upto first 100 units Rs. 3 per unit.<br>
Next 100 units Rs. 5 per unit.<br>
Next 300 units Rs. 7 per unit.<br>
Above that, for each unit exceeding 500, Rs. 10 per unit flat.<br>

In [ ]:
n=int(input("Enter units of current:"))
amount=0
if(n<=100):
  amount=n*3
elif(n<=200):
  amount=n*5
elif(n<=500):
  amount=n*7
else:
  amount=n*10   
print(amount)

Enter units of current:300
2100

**Problem-4**<br>
Find out sum of square of all the numbers upto 10, starting from 1

In [ ]:
n = 10
sum = 0
for s in range(1, n+1):
   sum = sum + (s*s)
print("Sum of squares is : ", sum)

Sum of squares is :  385

**Problem-5**<br>
Find out sum of square of all the even numbers upto 10, starting from 1

In [ ]:
n=int(input("Enter no.range:"))
s=0
i=0
while(i<n):
  if(i%2==0):
   s=s+(i*i)
  i+=1
print("Sum of square of even natural no. is:",s)

Enter no.range:10
Sum of square of even natural no. is: 120

**Problem-6**<br>
Check a number is prime or not

In [ ]:
n= int(input("Enter any number:"))
if n>1 :
    for i in range(2,n):
        if(n%i == 0):
            print(n,"is not prime ")
            break
    else:
        print(n,"number is prime ")

Enter any number:2
2 number is prime

**Problem-7**<br>
Print multiplication table upto 10 starting from 1

In [ ]:
num = 10
# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

**Problem-8**<br>
Print the series of first n fibonacci numbers

In [ ]:
n = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if n <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif n == 1:
   print("Fibonacci sequence upto",n,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < n:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34